<p>recuperar-contrasena works!</p>
Abg. Mauricio Avilés,
Secretario general del Instituto Universitario Tecnológico del Azuay
Espero que se encuentre bien. Yo, Jairo Damián Paredes Jiménez, con la CI:0106398761, estudiante de la carrera de tecnología superior en desarrollo de software, le escribo para solicitarle amablemente un certificado de estudio que indique mi estado actual como estudiante del Instituto Universitario Tecnológico del Azuay.

Aprecio de antemano su atención a esta solicitud y estoy a su disposición para cualquier aclaración o requisito adicional que pueda surgir.

Espero con ansias su respuesta y agradezco enormemente su apoyo en este asunto.

Sinceramente, 

Jairo Damián Paredes
Saludos cordiales,

-----------------------------------
FIRMA ABG. Mauricio Avilés
